body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
}
ul, p {
    background-color: plum;
}

#paragrafo {
    font-weight: 600;
    font-size: 3em;
    text-align: right;
}
#amarelo {
    background-color: yellow;
    line-height: 40px;
}

#vermelho {
    background-color: red;
    text-decoration: line-through;
}

#marrom {
    background-color: brown;
    text-decoration: overline;
    line-height: 40px;
}